/* --------------------------Flashsale-box-right-side--------------------------------- */

.flash-sale-right{
    margin-top: 5rem;
    border-bottom: var(--color-grey-7) solid 2px;
}

    .flash-sale-right .container{
        display: flex;
        flex-direction: row-reverse;
    }
/* Grid - card component */
.product_component_right{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    flex: 1;
}

    /* Placeholder box */
.flash-sale-right .img_right_box {
    background-color: var(--color-grey-1);
    height: 620px;
    width: 630px;
}
    /* Flex-pos. */
    .flash-sale-right .img_right_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        text-align: center;
    }

        .flash-sale-right .img_right_box h1 {
           font-weight: 600;
           font-size: 55px;
           color: var(--color-white-1);
        }

        /* Button */
        .img_right_box .img_right_button .special_button_white {
            background-color: white;
            color: black;
            font-weight: bold;
    
        }

            .img_right_box .img_right_button .special_button_white:hover {
                background-color: black;
                color: white;
                
        
            }

.flash-sale-right .card .img {
    height: 323px;
    width: 255px;
   
} 

